@font-face {
    font-family: "Discord1";
    src: url("../assets/fonts/Discord1.woff2");
}

@font-face {
    font-family: "Discord2";
    src: url("../assets/fonts/Discord2.woff2");
}

@font-face {
    font-family: "Discord3";
    src: url("../assets/fonts/Discord3.woff2");
}

@font-face {
    font-family: "Discord4";
    src: url("../assets/fonts/Discord4.woff2");
}

@font-face {
    font-family: "Discord5";
    src: url("../assets/fonts/Discord5.woff2");
}

@font-face {
    font-family: "Discord6";
    src: url("../assets/fonts/Discord6.woff2");
}